@tailwind base;
@tailwind components;
@tailwind utilities;


/* Light mode */
:root {
  --color-background: #ffffff;
  --color-text: #000000;
  --color-primary: #4f46e5;
  --color-secondary: #06b6d4;
}

/* Dark mode */
.dark {
  --color-background: #000000;
  --color-text: #ffffff;
  --color-primary: #818cf8;
  --color-secondary: #22d3ee;
}

.input {
  @apply border border-gray-200 dark:border-gray-700 bg-background dark:bg-cardDark rounded-xl px-4 py-3 text-text dark:text-textDark;
}